.register {
  height: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://png.pngtree.com/thumb_back/fh260/background/20210829/pngtree-gradient-glass-morphism-user-interface-background-image_773993.jpg");
  background-size: cover;
}

.register1 {
  /* height: calc(100vh - 40px); */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://png.pngtree.com/thumb_back/fh260/background/20210829/pngtree-gradient-glass-morphism-user-interface-background-image_773993.jpg");
  background-size: cover;
}

.profile {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  url("https://png.pngtree.com/thumb_back/fh260/background/20210829/pngtree-gradient-glass-morphism-user-interface-background-image_773993.jpg");
  background-size: cover;

}
.registerTitle {
  font-size: 50px;

}
.box {
  width:320px;
  height:60px;
  padding-top: .5rem;
  padding-left: 1.1rem;
  margin-left: 270px;
  margin-bottom: 70px;
  margin-top: 40px;
  background-color: teal;
  color:aliceblue;
  border-radius: .5rem;
  
}



.box1 {
  width:auto;
  height:auto;
  border: 25px solid  rgb(216, 239, 231) ;
  border-radius: 5rem;
  box-shadow: 15px 0px 0px 15px teal;
  padding-left: 40px;
  /* margin: auto; */
 margin-bottom: 0px;
}

.box2 {
  width:800px;
  height:auto;
  border: 10px solid #000400 ;
  border-radius: 1rem;
  padding-left: 90px;
  padding-right: 20px;
  padding-top: 20px;
  padding: auto;
  /* margin-top: auto ; */
 margin-bottom: 45px;
}

.box3 {
  width:800px;
  height:800px;
  border: 10px solid #000400 ;
  border-radius: 1rem;
  padding-left: 90px;
  padding-right: 20px;
  padding-top: 40px;
  margin-top: 10px ;
 /* margin-bottom: 0px; */
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm  {
  margin: 10px 0;
}

.registerForm2  {
    margin: auto;
    display: flex;
  flex-direction: column;
 
  
}


.registerInput {
  padding: 17px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-bottom: 30px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.link{
  color:white;
  
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}

p{
  color: red;
}

.heading {
  color: red;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 250px;
  padding-bottom: 50px;
  }

